/* LOGIN PAGE */


/* line 2, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-page {
    background-color: #e7ebee;
}


/* line 5, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-page-full {
    background-color: #e7ebee;
}


/* line 8, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box {
    max-width: 350px;
    min-width: 280px;
    margin: 60px auto 20px;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

@media only screen and (max-width: 767px) {
    /* line 8, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */
    #login-box {
        margin-top: 20px;
    }
}


/* line 19, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box #login-box-header {
    height: 5px;
}


/* line 22, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box #login-box-header>div {
    height: 100%;
    width: 16.6667%;
    float: left;
}


/* line 27, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box #login-box-header .login-box-header-red {
    background: #e84e40;
}


/* line 30, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box #login-box-header .login-box-header-green {
    background: #8bc34a;
}


/* line 33, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box #login-box-header .login-box-header-yellow {
    background: #ffc107;
}


/* line 36, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box #login-box-header .login-box-header-purple {
    background: #9c27b0;
}


/* line 39, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box #login-box-header .login-box-header-blue {
    background: #03a9f4;
}


/* line 42, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box #login-box-header .login-box-header-gray {
    background: #90a4ae;
}


/* line 47, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box-inner {
    background: #fff;
    border-radius: 0 0 3px 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    border: 1px solid #e1e1e1;
    border-bottom-width: 5px;
    padding: 40px 25px;
}


/* line 54, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box-inner.with-heading {
    padding-top: 20px;
}


/* line 57, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box-inner h4 {
    margin-top: 0;
    margin-bottom: 10px;
}


/* line 61, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box-inner .reset-pass-input {
    padding: 15px 0;
    margin-bottom: 0;
}


/* line 66, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-logo {
    background: none repeat scroll 0 0 #000000;
    color: #fff;
    display: block;
    font-size: 2em;
    font-weight: 400;
    padding: 35px 0;
    text-align: center;
    text-transform: uppercase;
}


/* line 76, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-logo>img {
    display: block;
    height: 40px;
    margin: 0 auto;
}


/* line 81, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-logo>span {
    display: block;
    font-size: 0.6em;
    font-weight: 300;
    text-transform: none;
}


/* line 89, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box .input-group {
    margin-bottom: 10px;
}


/* line 92, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box .input-group input {
    font-weight: 300;
}


/* line 95, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box .input-group .input-group-addon {
    padding-left: 0;
    padding-right: 0;
    min-width: 50px;
}


/* line 100, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box .input-group .input-group-addon i {
    color: #efefef;
}


/* line 104, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box #login-forget-link {
    display: block;
    font-size: 0.875em;
    text-align: right;
    margin-top: 3px;
}


/* line 110, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box #remember-me-wrapper {
    padding: 10px 0;
}


/* line 113, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box .btn {
    font-size: 1.125em;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    margin-top: 8px;
}


/* line 121, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box .form-group {
    margin-bottom: 7px;
}


/* line 124, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box .form-group .checkbox label {
    padding-left: 7px;
}


/* line 127, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box .form-group .checkbox input {
    margin-left: 0;
}


/* line 131, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box .btn-facebook,
#login-box .btn-twitter {
    text-transform: none;
    font-size: 1em;
    margin-bottom: 10px;
}


/* line 137, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box .social-text {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 0.875em;
}


/* line 145, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box-inner .input-group>.form-control,
#login-box-inner .input-group>.input-group-addon {
    height: 46px;
    line-height: 42px;
    padding-top: 0;
    padding-bottom: 0;
}


/* line 152, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box-inner .input-group>.input-group-addon {
    height: 44px;
}


/* line 156, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-box-footer {
    text-align: center;
    font-size: 0.875em;
    margin-top: 10px;
}


/* line 161, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-wrapper #login-box-footer {
    color: #fff;
}


/* line 164, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-wrapper #login-box-footer a {
    color: #fff;
    text-decoration: underline;
}


/* line 168, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-wrapper #login-box-footer a:hover {
    text-decoration: none;
}


/* line 173, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-page .login-create,
#login-page-full .login-create {
    margin-bottom: 20px;
}


/* line 177, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-wrapper {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

@media (max-height: 605px) {
    /* line 177, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */
    #login-full-wrapper {
        position: relative;
    }
}

@media (max-height: 621px) and (max-width: 767px) {
    /* line 177, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */
    #login-full-wrapper {
        position: relative;
    }
}


/* line 191, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-wrapper #login-box {
    border: none;
}


/* line 195, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-page-full .container {
    max-width: 1440px;
    margin: 0 auto;
}


/* line 199, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-page-full .login-full-create {
    margin-right: 20px;
    line-height: 50px;
}


/* line 204, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-left {
    margin-top: 50px;
    margin-bottom: 20px;
}


/* line 208, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-left h1 {
    text-align: center;
    color: #363636;
    font-weight: 600;
    margin-bottom: 40px;
}


/* line 214, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-left h2 {
    text-align: center;
    margin-top: 30px;
}


/* line 218, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-left p.login-full-devices {
    margin-top: 30px;
}


/* line 221, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-left .login-full-features {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}


/* line 227, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-left .login-full-features>li {
    display: inline-block;
    margin: 0 8px;
}


/* line 231, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-left .login-full-features>li>i {
    display: block;
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 4px;
}


/* line 237, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#login-full-left .login-full-features>li>span {
    display: block;
    text-align: center;
    font-size: 0.845em;
    line-height: 1.2;
}

@media (max-height: 605px) {
    /* line 245, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */
    #login-full-wrapper.reset-password-wrapper {
        position: absolute;
    }
}

@media (max-height: 505px) {
    /* line 245, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */
    #login-full-wrapper.reset-password-wrapper {
        position: relative;
    }
}


/* LOCK SCREEN */


/* line 256, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#lock-screen-user img {
    border-radius: 18%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 100px;
}


/* line 264, Applications/MAMP/htdocs/cube/scss/theme/imports/_login_stuff.scss */

#lock-screen-user .user-box .name {
    display: block;
    font-size: 1.3em;
    padding: 10px 0 40px;
    text-align: center;
}

.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.badge-products {
    background-color: #b94a48;
}

.badge-products:hover {
    background-color: #953b39;
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.badge-info {
    background-color: #3a87ad;
}

.badge-info:hover {
    background-color: #2d6987;
}

.badge-inverse {
    background-color: #333333;
}

.badge-inverse:hover {
    background-color: #1a1a1a;
}